<footer>
	{% include "quotes.njk" %}
	<p style="margin-left: 1em;">
		Content © Laker Turner 2022-2024.
		Source code is available at <a href="https://laker.tech/git/zeppelin">lxjv/zeppelin</a>.
	</p>

	{% include "webrings.njk" %}

	<!-- analytics -->
	{% if env.env == 'prod' %}
		<script src="https://tinylytics.app/embed/xrwtvGaPyRKh1zjzZ9Be.js" defer></script>
	{% endif %}
</footer>
