<footer style="margin-top: 2em;">
	<p>
		Content © {{author.name}} 2022-2024.
		Source code is available <a href="https://github.com/lxjv/zeppelin">here</a>.
	</p>

	{% include "partials/webrings.njk" %}
	{% include "partials/quotes.njk" %}
</footer>
