<footer style="margin-top: 2em;">
	<p>
		Content © {{author.name}} 2022-2024.
		Source code is available <a href="https://github.com/lxjv/zeppelin">here</a>.
	</p>

	{% include "partials/webrings.njk" %}
	{% include "partials/quotes.njk" %}

	<!-- analytics -->
	{% if env.env == 'prod' %}
		<script src="https://tinylytics.app/embed/xrwtvGaPyRKh1zjzZ9Be.js" defer></script>
	{% endif %}
</footer>
