<div class="h-card">
	<img class="u-photo" height=80 width=80 src="https://laker.tech/cdn/image/hat.jpg">
	<p>
		<a class="u-url" rel="me" href="https://laker.tech">Laker Turner</a>
		<a href="https://laker.tech/pronouns" class="u-pronouns">she/her</a>
	<p>
	<p class="p-note">I'm an 18 year old student from the UK, writer, amateur programmer and leather jacket enthusiast.</p>
</div>