<header>
	<h1>
		<a class="ntd" id="site-title" href="/">{{metadata.title}}</a>
	</h1>

	<nav>
		<a href="/about">about</a>
		<a href="/contact">contact</a>
		<a href="/now">now</a> <br>

		<a href="/blog">blog</a>
		<a href="/more">everything else</a>

		<a href="/subscribe" class="ntd">
			<i class="fa-solid fa-rss" style="color: #DC784F; margin-left: 3px" alt="Subscribe to my website"></i>
			Subscribe
		</a>
	</nav>

</header>
