<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} | Laker Turner</title>

	<!-- go eleventy wooooo -->
	<meta name="generator" content="{{ eleventy.generator }}">

	<!-- openid -->
	<link rel="openid.delegate" href="https://laker.tech/">
	<link rel="openid.server" href="https://openid.indieauth.com/openid">

	<!-- opengraph -->
	<meta property="og:site_name" content="{{metadata.title}}">
	<meta property="og:title" content="{{title}} | Laker Turner">
	<meta property="og:description" content="{{subtitle}}">
	<meta property="twitter:description" content="{{subtitle}}">
	<meta property="description" content="{{subtitle}}">
	<meta property="og:url" content="{{metadata.cURL}}{{page.url}}">
	<meta property="og:type" content="{{ogtype}}">
	<meta property="article:publisher" content="https://laker.tech">
	<meta property="article:section" content="Concorde">
	<meta property="article:tag" content="blog">
	<meta property="og:image" content="{{author.photo}}">
	<meta property="og:image:secure_url" content="{{author.photo}}">
	<meta property="og:image:width" content="1280">
	<meta property="og:image:height" content="640">
	<meta property="twitter:title" content="{{title}} | Laker Turner">
	<meta property="twitter:card" content="summary">
	<meta property="twitter:image" content="{{author.photo}}">

	<!-- feed autodiscovery -->
	<link rel="alternate" type="application/rss+xml" title="Laker Turner (RSS)" href="/feed.xml">
	<link rel="alternate" type="application/atom+xml" title="Laker Turner (Atom)" href="/atom.xml">
	<link rel="alternate" type="application/json" title="Laker Turner (JSON)" href="/feed.json">

	<!-- webmentions -->
	<link rel="webmention" href="https://webmention.io/laker.tech/webmention">

	<!-- indielogin -->
	<link rel="authorization_endpoint" href="https://indieauth.com/auth">
	<link rel="token_endpoint" href="https://tokens.indieauth.com/token">

	<!-- auth stuff -->
	<link rel="me" href="mailto:la@laker.gay">
	<link href="https://github.com/lxjv" rel="me">
	<link rel="pgpkey" href="/.wellknown/pgp">

	<!-- style -->
	<meta name="color-scheme" content="dark light">
	<link rel="stylesheet" href="/cdn/style/style.css">
	<script src="https://kit.fontawesome.com/a4ad01e3e6.js" crossorigin="anonymous"></script>
</head>
