<header>
	<h1>
		<a class="ntd" id="site-title" href="/">Laker Turner</a>
	</h1>

	<nav>
		<a href="/about">about</a>
		<a href="/contact">contact</a> <br>

		<a href="/blog">blog</a>
		<a href="">wiki (under construction)</a>
		<a href="/more">everything else</a>

		<a href="/subscribe">
			Subscribe
			<i class="fa-solid fa-rss" style="color: #DC784F; margin-left: 3px" alt="Subscribe to my website"></i>
		</a>
	</nav>

</header>
