<div id="webrings">
	<span id="indiewebring">
		<a href="https://xn--sr8hvo.ws/previous">←</a>
		<a href="https://xn--sr8hvo.ws">🕸💍</a>
		<a href="https://xn--sr8hvo.ws/next">→</a>
	</span>

	<span id="cssjoyring">
		<a href="https://webri.ng/webring/cssjoy/previous?via=https://laker.tech">←</a>
		<a href="https://cs.sjoy.lol/">CSSjoy webring</a>
		<a href="https://webri.ng/webring/cssjoy/random?via=https://laker.tech">∞</a>
		<a href="https://webri.ng/webring/cssjoy/next?via=https://laker.tech">→</a>
	</span>
</div>
