<div id="webrings">
	<span id="laring" class="webring">
		<a href="https://webri.ng/webring/la/previous?via=https://laker.tech">←</a>
		<a href="/ring">laRing!</a>
		<a href="https://webri.ng/webring/la/random?via=https://laker.tech">∞</a>
		<a href="https://webri.ng/webring/la/next?via=https://laker.tech">→</a>
	</span>
	<span id="indiewebring" class="webring">
		<a href="https://xn--sr8hvo.ws/previous">←</a>
		<a href="https://xn--sr8hvo.ws">🕸💍 IndieWeb Ring</a>
		<a href="https://xn--sr8hvo.ws/next">→</a>
	</span>
	<span id="cssjoyring" class="webring">
		<a href="https://webri.ng/webring/cssjoy/previous?via=https://laker.tech">←</a>
		<a href="https://cs.sjoy.lol/">CSS.Joy Webring</a>
		<a href="https://webri.ng/webring/cssjoy/random?via=https://laker.tech">∞</a>
		<a href="https://webri.ng/webring/cssjoy/next?via=https://laker.tech">→</a>
	</span>
	<span id="bucketring" class="webring">
		<a href="https://webring.bucketfish.me/redirect.html?to=prev&name=laker">←</a>
		<a href="https://webring.bucketfish.me">bucket webring</a>
		<a href="https://webring.bucketfish.me/redirect.html?to=next&name=laker">→</a>
	</span>
</div>
