<footer style="margin: 1.5em 0;">
    <hr style="max-width: 85%;">
	{% include "quotes.njk" %}

    <p>
		Content © {{author.name}} 2022-2024.
        See the <a href="/colophon">colophon</a> if you'd like.
	</p>
</footer>
