<footer style="margin: 1.5em 0;">
    <!-- <span class="footer-seperator"> -->
    <!--     ⚧︎ ⌘  ⭐︎ -->
    <!-- </span> -->
    <p>
		Content © {{author.name}} 2022-2024.
        See the <a href="/colophon">colophon</a> if you'd like.
    </p>
	{% include "quotes.njk" %}
</footer>
