<footer style="padding-bottom:1em;" class="center">
    <p>
		Content © {{author.name}} 2022-2024. <br>
        See the <a href="/colophon">colophon</a> or some <a href="/rings">webrings</a> if you'd like.
        ⚧︎
    </p>

	{% include "quotes.njk" %}
</footer>
