<div class="h-card">
	<img class="u-photo" height=80 width=80 src="{{author.photo.src}}">
	<p>
		<a class="u-url" rel="me"v href="{{author.url}}">{{author.name}}</a>
		<a href="https://laker.tech/pronouns" class="u-pronouns">she/her</a>
	<p>
	<p class="p-note">{{author.bio}}</p>
</div>
