<header class="center" style="justify-content: space-between; padding: 1em">
    <h1 id="site-title">
		<a class="ntd" href="/">{{metadata.title}}</a>
	</h1>

	<nav class="site-nav">
		<a href="/about">about</a>
		<a href="/contact">contact</a>
		<a href="/now">/now</a>

		<a href="/blog">blog</a>
        <a href="/projects">projects</a>
        <a href="/more">more</a>
	</nav>
</header>
