<header>
	<h1>
		<a class="ntd" id="site-title" href="/">{{metadata.title}}</a>
	</h1>

	<nav style="margin-top: 1.254px;">
		<a href="/about">about</a>
		<a href="/contact">contact</a>
		<a href="/now">/now</a>

        <span class="header-seperator" ondblclick="window.alert('easter egg!')">
			—
		</span>

		<a href="/blog">blog</a>
        <a href="/projects">projects</a>
        <a href="/more">more</a>
	</nav>

</header>
