**/node_modules/**

# the writing basement is CLOSED
src/content/.obsidian

# fuck you macOS
**/.DS_Store

# build artifacts
public/**

# no peeking
.env
.env.local

.cache/

# cli settings file
.zepsettings
