$background: #fff8e7;
$dark-background: #100536;

$text: #0D0C0B;
$dark-text: #fff8e7;

$accent: #6768AA;
$orange: #DC784F;
$blurple: #8797E0;
$blue: #6FAACE;

$font-text: 'Albert Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$font-monospace: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

@import url(https://fonts.bunny.net/css?family=albert-sans:400,700|ibm-plex-mono:400,700i);

html {
	background-color: $background;
	color: $text;
}

hr {
  border: none;
  border-top: 1px solid $text;
	margin: 1em 0;
  text-align: center;
  height: 5px;
}

@media (prefers-color-scheme: dark) {
	html {
		background: $dark-background;
		color: $dark-text;
	}

	hr {
		border-top: 1px solid $dark-text;
	}

	a[href] {
		color: #fff8e7;
		text-decoration: underline dotted #fff8e79c;

	}
}

/* who needs tailwind /s */
.ntd {
	text-decoration: none !important;
}

.nd {
	display: none;
}

.nb {
	border: none !important;
}

.nm {
	margin: 0 !important;
}

// andy bell's css reset!

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
	text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
	color: currentColor;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
	scroll-margin-block: 5ex;
}
