@use "base";

$accent: #6768AA;

body {
	margin-left: 1.3em;
	border: 0 1px #fff8e7 solid;
	max-width: 75%;
}

#content {
	max-width: fit-content;
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 4px solid $accent;
	border-spacing: 5px;
}

.profile-picture {
	border: 2px solid #040404;
	border-radius: 100%;
	margin: 1em 0.2em 0em 0.5em;
}

hr {
	border: none;
	border-top: 1px solid #fff8e7;
	margin: 1em 0;
	text-align: center;
	height: 5px;
}

small {
	// heh
	font-size: 69%;
	font-weight: 420;
}

img {
	border: 1px solid #fff8e7;
}

post-header-image {
	max-width: 720px;
}

statuslol_container {
	border-radius: 1em;
}

statuslol_emoji {
	border: none;
}

@media only screen and (max-width: 600px) {
	body { max-width: 100%; }
}
