@import url(https://fonts.bunny.net/css?family=albert-sans:400,700|ibm-plex-mono:400,700i);
@import url(./reset.css);
@import url(./func.css);

$background: #fff8e7;
$dark-background: #100536;

$text: #0D0C0B;
$dark-text: #fff8e7;

$accent: #6768AA;
$orange: #DC784F;
$blurple: #8797E0;
$blue: #6FAACE;

$font-text: 'Albert Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$font-monospace: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

html {
	background-color: $background;
	color: $text;
}

body {
	padding: 0 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 90%;

	font-family: $font-text;
	font-size: 105%;
	font-display: swap;
}

small {
	font-size: 69%;
	font-weight: 420; /* heh */
}

/*
.h-card {
	margin-top: 1em;
	border: #fff8e7 2px solid;
	border-radius: 1em;
	max-width: fit-content;
	padding: 1em;
}
*/

#content {
	margin-top: 0.5em;
	padding-left: 1em;
	border-radius: 1em;
	border: 2px solid;
	max-width: 75%;
	padding-right: 1em;
}

#content-wrap {
	padding-bottom: 1em;
}

hr {
  border: none;
  border-top: 2px solid $text;
	margin: 1em 0;
  overflow: visible;
  text-align: center;
  height: 5px;
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 4px solid $accent;
	border-spacing: 5px;
}

#webrings {
	margin-top: 1em;
	margin-left: 13px;
}

.post-tag {
	color: $dark-text;
	background-color: $accent;
	padding: 5px 7px;
	border-radius: 100px;
	margin-right: 5px;
}

.statuslol_container {
	margin: 1em 0 1em 0;
	border: 1px solid $text;
	padding: 1em;
	border-radius: 1em;
	max-width: fit-content;
}

@media (prefers-color-scheme: dark) {

	html {
		background: $dark-background;
		color: $dark-text;
	}

	hr {
		border-top: 1px solid $dark-text;
	}

	a[href] {
		color: #fff8e7;
		text-decoration: underline dotted #fff8e79c;

	}

	.literal-book-item__title {
		color: #fff8e7 !important;
	}

	.statuslol_container {
		border: 1px solid $dark-text;
	}

}
