@import url(https://fonts.bunny.net/css?family=albert-sans:400,700|ibm-plex-mono:400,700i);
@import url(./reset.css);
@import url(./func.css);

$background: #fff8e7;
$dark-background: #100536;
$accent: #6768AA;

$text: #0D0C0B;
$dark-text: #fff8e7;

$font-text: 'Albert Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$font-monospace: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

html {
	background-color: $background;
	color: $text;
}

body {
	padding: 1em;
	border-radius: 1em;
	margin: 2em auto;
	max-width: 90%;

	font-family: $font-text;
	font-size: 105%;
	font-display: swap;
}

/* .h-card {
	margin-top: 1em;
	border: #fff8e7 2px solid;
	border-radius: 1em;
	max-width: fit-content;
	padding: 1em;
} */

#content {
	margin-top: 0.5em;
	padding-left: 1em;
	border-radius: 1em;
	border: 2px solid;
}

#e-content {
	img {
		max-width: 39%;
		height: auto;
		margin-left: 3em;
	}
}

#content-wrap {
	padding-bottom: 1em;
}

.break hr {
  
  border: none;
  border-top: 6px;
  overflow: visible;
  text-align: center;
  height: 5px;
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 4px solid $accent;
	border-spacing: 5px;
}

@media (prefers-color-scheme: dark) {
	html {
		background: $dark-background;
		color: $dark-text;
	}

	a[href] {
		color: #fff8e7;
		text-decoration: underline dotted #fff8e79c;

	}

	.literal-book-item__title {
		color: #fff8e7 !important;
	}

}