body {
	grid-template-columns: 1fr 3fr;
}

#wiki {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 9fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#wiki-bar { grid-area: 1 / 2 / 2 / 3; }
#wiki-nav { grid-area: 2 / 1 / 3 / 2; }
#wiki-content { grid-area: 2 / 2 / 3 / 3; }
