<!DOCTYPE html>
<html lang="en">
	{% include "components/head.njk" %}
	<body>
        <span style="margin-top:1.5em">
		{% include "components/header.njk" %}
        </span>

		<div id="content" class="center">
			<div id="content-wrap">
				{{content | safe}}
			</div>
		</div>

		{% include "components/footer.njk" %}
	</body>
</html>
