<!DOCTYPE html>
<html lang="en">

	{% include "components/head.njk" %}

	<body>

		{% include "components/header.njk" %}

		<div id="content">
			<div id="content-wrap">
				{{content | safe}}
			</div>
		</div>

		{% include "components/footer.njk" %}

	</body>
</html>
