<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}} | Laker Turner</title>

	<link rel="stylesheet" href="/cdn/style/style.css">
	<script src="https://kit.fontawesome.com/a4ad01e3e6.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<h1>
			<a class="ntd" href="/">Laker Turner</a>
		</h1>

		<nav>
			<a href="/about">about</a>
			<a href="/contact">contact</a>
			<a href="/projects">projects</a>
			<a href="/blog">blog</a>
			<a href="">wiki (under construction)</a>
			<a href="/subscribe/"><i class="fa-solid fa-rss" style="color: orange; margin: 0 5px;"></i>RSS</a>
		</nav>
	</header>

	<div id="content">
		<div id="content-wrap">
			{{content | safe}}
		</div>
	</div>

	<footer>
		{% if env.env == 'prod' %}

		{% endif %}
	</footer>
</body>
</html>
