---
layout: base.njk
---

<div>
	<h2 class="page-title">
        {{title | safe}}
        <small>
            Last updated {{page.date | datePretty}}
        </small>
        </h2>

    {% include "back.njk" %}
	<blockquote>{{subtitle | safe}}</blockquote>
</div>

<article>
	{{content | safe}}
</article>
