---
layout: base.njk
---

<p>
	<h2>{{title | safe}} <small>Last updated {{page.date | datePretty}}</small></h2>
	<blockquote>{{subtitle | safe}}</blockquote>
</p>

<article>
	{{content | safe}}
</article>
