---
layout: base
---

<style>
img {
		max-width: 50%;
		height: auto;
		margin-left: 3em;
	}
</style>

<article class="h-entry">
	<div class="post-meta">

		<span class="h-card nd">
			<a rel="author" href="https://laker.tech" class="p-author ntd">{{author.name}}</a>
			<img src="{{author.photo}}" class="nd" style="vertical-align: middle;" alt="Laker's hat." height="16" width="16">
		</span>

	<h2>
		<span class="p-name">{{title | safe}}</span>
		<small>
			<a class="u-url" href="https://{{metadata.domain}}{{page.url}}">
				<time class="dt-published" datetime="{{page.date | dateISO}}">{{page.date | datePretty}}</time>
			</a>
		</small>
	</h2>

	<p>
		<blockquote class="p-summary" style="margin-bottom: 1em;">
			{{subtitle | safe}}
		</blockquote>

		{% for tag in tags %}
			<span class="post-tag"><a class="ntd" href="/blog/t/{{tag}}">#{{tag}}</a></span>
		{% endfor %}
	</p>
	<hr>
	</div>

	<div class="e-content">
		{{content | safe}}
	</div>

	<div id="post-footer" class="nd">
	<hr>

		<h3>Footnotes</h3>

		<br>

		<h3>Webmentions</h3>
			{% include "webmentions.njk" %}
	</div>

</article>
