---
layout: base
---

<style>
img {
		max-width: 50%;
		height: auto;
		margin-left: 3em;
	}
</style>

<article class="h-entry">

	<div class="post-meta">

	<h2>
		<span class="p-name">{{title | safe}}</span>
		<small>
			<a class="u-url ntd" style="margin: 0 5px;" href="https://{{metadata.domain}}{{page.url}}">
				<time class="dt-published" datetime="{{page.date | dateISO}}">{{page.date | datePretty}}</time>
			</a>

			<span style="margin: 0 5px;">{{content | wordcount}} words</span>

			{% for tag in tags %}
			<span class="p-category"><a class="ntd" href="/blog/t/{{tag}}">#{{tag}}</a></span>
			{% endfor %}

		</small>
	</h2>
	<p>
		<blockquote class="p-summary" style="margin-bottom: 1em;">
			{{subtitle | safe}}
		</blockquote>
	</p>
	</div>

	<div class="e-content">
		{{content | safe}}
	</div>

	<hr>
	<p>Want to comment on this post? <a href="mailto:hello+{{page.fileSlug}}@concorde.blog">Email me</a>!

</article>
