<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>laWiki - {{title}}</title>
	<link rel="stylesheet" href="/cdn/style/wiki.css">
</head>

<body>

	<div id="wiki" style="display: grid;">
		<div id="wiki-bar">
			<h1>laWiki > {{title}}</h1>
		</div>

		<div id="wiki-nav">
		<!-- todo lmao -->
		nav!
		</div>

		<div id="wiki-content">
			{{content | safe}}
		</div>
	</div>

</body>

</html>
