@use "reset";
@use "utils";

// colour palette
$black: #040404;
$latte: #FFF8E7;
$indigo: #6768AA;
$lblue: #94B1FF;
$orange:#DC784F;

// light mode variables
$lm-text: $black;
$lm-back: $latte;

//dark mode variables
$dm-text: $latte;
$dm-back: $black;

$font-prose: 'OpenDyslexic', 'Atkinson Hyperlegible', 'Albert Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
$font-code: 'IBM Plex Mono', ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
$font-alt-txt: 'OpenDyslexic', 'Atkinson Hyperlegible', 'Albert Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

// choose your fighter
$accent: $indigo;

body {
	background-color: $lm-back;
	color: $lm-text;

	// font dec
	font-family: $font-prose;
}

a[href] {
	color: $lm-text;
	text-decoration: underline dotted $black;
}

//darq mode!!
@media (prefers-color-scheme: dark) {
	body {
		background: $dm-back;
		color: $dm-text;
	}

	hr {
		border-top: 1px solid $dm-text;
	}

	.post-tag {
		color: $accent;
	}

	a[href] {
		color: $dm-text;
		text-decoration: underline dotted #fff8e79c;

	}

	.literal-book-item__title {
		color: $dm-text !important;
	}

	.statuslol_container {
		border: 1px solid $dm-text;
	}

}

