@use "base";

#content-wrap {
    border: #6768AA 1px solid;
    border-radius: 3em 1em;
    padding: 2em;
    margin: 2em;
}

blockquote {
	margin-left: 13px;
	padding-left: 8px;
	border-left: 4px solid #6768AA;
	border-spacing: 5px;
}

.post-comment-ask {
    max-width: fit-content;
    padding: 1em 2em;
    border: #6FAACE 1px solid;
    border-radius: 1em 3em;
}

#post-header-image {
	max-width: 720px;
}
